.cfg-form {
  display: flex;
  flex-flow: column;
  flex: 3 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
}

.side-by-side-container {
  display: flex;
  height: 90vh;
}

.cnf-visualization-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  box-shadow: 0px 2px 5px #000000;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-width: 70%;
  height: fit-content;
  min-height: 10%;
  max-height: 60%;
  margin: 10px;
  color: gold;
  flex: 7;
  flex-direction: column;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}
