.side-by-side-container {
  display: flex;
  height: 90vh;
}

.side-by-side-container {
  display: flex;
  height: 90vh;
}

.graph-visualization-scroll-container {
  overflow: auto;
  flex: 7;
  height: 100%;
  /* max-height: 90vh; */
  flex-grow: 1;
}

.graph-visualization-container {
  width: 5000px;
  height: 4000px;
}
