.cfg-form {
  display: flex;
  flex-flow: column;
  flex: 3 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
}

.cnf-visualization-container {
  display: flex;
  flex-flow: column;
  text-align: center;
  box-shadow: 0px 2px 5px #000000;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-width: 70%;
  height: fit-content;
  min-height: 10%;
  max-height: 60%;
  margin: 10px;
  color: white;
  flex: 7;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, #00a759, #006e8a);
}
