h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.regex-container {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  max-width: 100%;
  flex: 7
}

.regex-pattern {
  margin: 0;
  color: #333;
}

.side-by-side-container {
  display: flex;
  height: 90vh;
}

.fsm-form {
  flex: 3;
  height: 100%;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 7px 5px rgba(0, 0, 0, 0.1);
}
