.form-container-pda {
  vertical-align: top;
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 7px black;
  max-height: 80vh;
  overflow-y: auto;
  color: thistle;
  font-size: 16px;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: gold;
}

.input-group {
  margin-bottom: 20px;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.accept-states {
  margin-bottom: 20px;
}

.accept-states-list {
  list-style: none;
  padding: 0;
}

.accept-state-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.accept-state-item button {
  margin-left: 10px;
}
