.regex-to-nfa-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
  }
  
  /* Section title */
  .section-title {
    color: #007bff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Section description */
  .section-description {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
  }
  
  path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
  
  circle.node {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
  }
  
  text {
    font: 10px sans-serif;
    pointer-events: none;
  }
  
  text.shadow {
    stroke: #fff;
    stroke-width: 3px;
    stroke-opacity: .8;
  }
