/* .tm-simulation-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
} */

.section-title {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 10px;
}

.section-description {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
}

.side-by-side-container {
  display: flex;
  height: 90vh;
}

.tm-form {
  flex: 3;
  height: 100%;
  width: 100%;
}

.simulation-view {
  flex: 7;
  display: block;
  overflow-y: auto;
  max-height: 90vh;
}

.graph-visualization-scroll-container {
  overflow: auto;
  height: 80%;
  max-width: 100%;
  max-height: 70vh;
}

.graph-visualization-container {
  width: 5000px;
  height: 4000px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 8px;
}

.accepts-text {
  color: green;
}

.rejects-text {
  color: red;
}

.tape-visualizer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tape-container {
  width: 50%;
  align-items: center;
  text-align: center;
}

.tape-visualizer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #2600ff;
  width: calc(100% - 10px);
  padding: 5px;
  overflow-x: auto;
  direction: ltr;
  background-image: linear-gradient(#bcdcff, #bcdcff);
  height: 40px;
}

.simulation-input {
  width: 200px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #bcdcff;
  margin-right: 5px;
}

.status {
  width: 50%;
}
