.section-title {
  color: gold;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.section-description {
  color: gold;
  font-size: 16px;
  line-height: 1.5;
}

.side-by-side-container {
  display: flex;
  height: 90vh;
}

.tm-form {
  display: flex;
  flex-flow: column;
  flex: 3 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  align-items: center;
}

.graph-visualization-container {
  width: 5000px;
  height: 4000px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 8px;
}

.accepts-text {
  color: green;
}

.rejects-text {
  color: red;
}

.tape-visualizer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tape-container {
  width: 50%;
  align-items: center;
  text-align: center;
}

.tape-visualizer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #2600ff;
  width: calc(100% - 10px);
  padding: 5px;
  overflow-x: auto;
  direction: ltr;
  background-image: linear-gradient(#bcdcff, #bcdcff);
  height: 40px;
}

.simulation-input {
  width: 200px;
  height: 30px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  background-color: #bcdcff;
  margin-right: 5px;
}

.status {
  width: 50%;
}
